<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :booking_date %><br />
    <%= f.date_select :booking_date %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :show_time %><br />
    <%= f.time_select :show_time %>
  </div>
  <div class="field">
    <%= f.label :movie_id %><br />
    <%= f.number_field :movie_id %>
  </div>
  <div class="field">
    <%= f.label :cinema_id %><br />
    <%= f.number_field :cinema_id %>
  </div>
  <div class="field">
    <%= f.label :payment_id %><br />
    <%= f.number_field :payment_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
