<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>Crypted password</th>
    <th>Salt</th>
    <th>Name</th>
    <th>Is customer</th>
    <th>Is admin</th>
    <th>Is manager</th>
    <th>Reward points</th>
    <th>Billing address</th>
    <th>Creditcard num</th>
    <th>Creditcard type</th>
    <th>Security num</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td><%= user.crypted_password %></td>
    <td><%= user.salt %></td>
    <td><%= user.name %></td>
    <td><%= user.is_customer %></td>
    <td><%= user.is_admin %></td>
    <td><%= user.is_manager %></td>
    <td><%= user.reward_points %></td>
    <td><%= user.billing_address %></td>
    <td><%= user.creditcard_num %></td>
    <td><%= user.creditcard_type %></td>
    <td><%= user.security_num %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
