<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @payment.amount %>
</p>

<p>
  <b>Date:</b>
  <%= @payment.date %>
</p>

<p>
  <b>Customer:</b>
  <%= @payment.customer_id %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
