<%= form_for(@show) do |f| %>
  <% if @show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% @show.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :show_time %><br />
    <%= f.time_select :show_time %>
  </div>
  <div class="field">
    <%= f.label :show_date %><br />
    <%= f.date_select :show_date %>
  </div>
  <div class="field">
    <%= f.label :show_type %><br />
    <%= f.text_field :show_type %>
  </div>
  <div class="field">
    <%= f.label :theater_id %><br />
    <%= f.number_field :theater_id %>
  </div>
  <div class="field">
    <%= f.label :cinema_id %><br />
    <%= f.number_field :cinema_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
